

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

header {
  background: #e65bae;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  padding: 2rem;
  text-align: center;
  background: #deaa4a;
}

.btn {
  background: #00796b;
  color: white;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5px;
}

.course-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.course-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  padding: 1rem;
  text-align: center;
}

.course-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.video-container {
  text-align: center;
  margin: 2rem 0;
}

.progress-section {
  text-align: center;
  margin-top: 1rem;
}

.progress-list {
  list-style: none;
  padding: 2rem;
}

footer {
    border-top: 800px;
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex: 1;
}
